@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


body{
    height: 100vh;
    /* max-width: 2000px; */
    background: linear-gradient( #f6d365 50%, #fda085 50%);
    background-repeat: no-repeat;
}


.wrapper{
    /* width: min(300px , 35vw); */
    width: min(95vw, 500px);
    /* width: 300px; */
    /* width: 35vw; */
    /* border: 1px solid black; */
    margin: 70px auto 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f1f8fb;
    border-radius: 10px;
    /* row-gap: 10px; */
    align-items: center;
    /* justify-content: space-evenly; */
    box-shadow: 6px 6px 10px rgba(0,0,0,0.3);
    
}

.wrapper h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.input-area{
    /* border: 2px solid brown; */
    width: 100%;
    display: flex;
    /* border-radius: 24px; */
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.input-area input{
    width: 60%;
    padding: 6px 10px;
    border: none;
    outline: none;
    font-size: 15px;
    color: black;
    border-bottom: 2px solid #d8d1d1;
    background: transparent;
}


.input-area input:focus{
    border-color: rgb(15, 242, 15);
}

.input-area button{
    width: min(40% , 80px);
    padding: 6px 14px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: 700;
    background-color: rgb(15, 242, 15);
    color: black;
    cursor: pointer;
}

.input-area button:hover{
    background-color: rgb(5, 171, 16);
}



/* TASKS AREA */


.tasks{
    /* border: 2px solid orangered; */
    /* text-align: start; */
    display: flex;
    flex-direction: column;
}

.tasks p{
    font-size: 18px;
    font-weight: 600;
    margin: 8px auto;
}

/* li{
    list-style: none;
} */

.tasks img{
    height: 20px;
    width: 20px;
}

.tasks ul li{
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: space-between;
    padding: 8px 6px;
    list-style: none;
    
    /* column-gap: 6px; */
}
.uncompleted-tasks{
    border-top: 2px solid #d8d1d1;
    margin-top: 13px;
}


/* GENERATED INSIDE JS */
.task-data{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.task-status{
    display: flex;
}

.task-msg{
    display: flex;
    font-weight: 500;
}

.options{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.edit-icon{
    display: flex;
}

.delete-icon{
    display: flex;
}
/* TILL HERE */



/* UNCOMPLETE SECTION ALSO GENERATED VIA JS */
.completed-tasks{
    margin-top: 18px;
}
/* TILL HERE */

.error{
    display: none;
    width: min(500px, 95vw);
    /* border: 1px solid black; */
    margin:auto;
    text-align: center;
    border-radius: 10px;
    padding: 8px 0px;
    background-color: #f1f8fb;
    box-shadow: 6px 6px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    animation: shake 0.2s 0.2s 3 alternate forwards;
}

@keyframes shake {
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(10px);
    }
    50%{
        transform: translateX(0px);
    }

    75%{
        transform: translateX(-10px);
    }
}